<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/d7bbbc002a.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <script src='/javascripts/tinymce/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: 'textarea'
        });
    </script>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainnav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <% if(activeLink === 'index') { %>active <% } %>">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item <% if(activeLink === 'gaming') { %>active <% } %>">
                        <a class="nav-link" href="gaming">Gaming</a>
                    </li>
                    <li class="nav-item <% if(activeLink === 'gear') { %>active <% } %>">
                        <a class="nav-link" href="gear">Gear</a>
                    </li>
                    <li class="nav-item <% if(activeLink === 'tomorrow') { %>active <% } %>">
                        <a class="nav-link" href="tomorrow">Tomorrow</a>
                    </li>
                    <li class="nav-item <% if(activeLink === 'blog') { %>active <% } %>">
                        <a class="nav-link" href="blog">Blog</a>
                    </li>
                    <li class="nav-item <% if(activeLink === 'contact') { %>active <% } %>">
                        <a class="nav-link" href="contact">Contact Us</a>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="navbar-text">Already have an account?</span>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <b>Login</b>
                                <span class="caret"></span>
                            </a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Login via
                                            <div class="social-buttons">
                                                <a href="#" class="btn btn-fb">
                                                    <i class="fa fa-facebook"></i> Facebook</a>
                                                <a href="#" class="btn btn-tw">
                                                    <i class="fa fa-twitter"></i> Twitter</a>
                                            </div>
                                            or
                                            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                                <div class="form-group">
                                                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                    <div class="help-block text-right">
                                                        <a href="">Forget the password ?</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> keep me logged-in
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="bottom text-center">
                                            New here ?
                                            <a href="register">
                                                <b>Join Us</b>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button style="margin-left:.1em;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 style="padding-right:1.5em;" id="myModalLabel">We'd Love to Hear From You</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control required" placeholder="Your name" data-placement="top"
                                        data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters."
                                        type="text">
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control" placeholder="Your message here.." data-placement="top"
                                        data-trigger="manual"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>E-Mail</label>
                                    <input class="form-control email" placeholder="email@you.com (so that we can contact you)"
                                        data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)"
                                        type="text">
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input class="form-control phone" placeholder="999-999-9999" data-placement="top"
                                        data-trigger="manual" data-content="Must be a valid phone number (999-999-9999)" type="text">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success pull-right">Send It!</button>
                                    <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
    </header>