<% include partials/head %>
    <main>
        <h1>The Latest in Gaming</h1>
        <section>
            <h2>Call of Duty : WWII</h2>
            <img class="sectionImgGaming" src="/images/WWIIsmall.jpg">
            <h2>Gameplay</h2>
            <article class="articleDescription">
                <p>
                    <em>Call of Duty: WWII</em> is a first-person shooter game but it removes the advanced system of movement</p>
                <p>present in the two previous
                    <em>Call of Duty</em> titles, which included double jumping and wall running.</p>
                <p>Instead, it features a return of traditional movement to the series, taking it back to a "boots on the ground"</p>
                <p>gameplay style. The game does not feature an unlimited sprint mechanic, seen in the previous two titles.
                    Instead</p>
                <p>of a "slide" movement mechanic, which allowed players to slide quickly on the ground,
                    <em>WWII</em> features a "hit-the-deck"</p>
                <p>mechanic that allows the player to leap forward and throw themselves on the ground in order to get to cover
                    quickly, similarly</p>
                <p>to a previous mechanic known as "dolphin dive" in Treyarch's
                    <em>Call of Duty: Black Ops</em> and
                    <em>Call of Duty: Black Ops II</em>
                </p>
            </article>
            <h2>Campaign</h2>
            <article class="articleDescription">
                <p>
                    <em>WWII</em> is the first title since the original game and
                    <em>Call of Duty 2: Big Red One</em> not to feature health regeneration</p>
                <p>in the campaign. Instead, players must find health packs scattered throughout levels, or rely on their medic
                    squadmate to provide health packs.</p>
                <p>Other members of the player's squad can provide ammunition, grenades, call in mortar strikes, or spot enemies
                    and reveal their position in form</p>
                <p>of silhouettes. In certain sections of the game, enemy soldiers in the campaign can be captured, and wounded
                    allies can be dragged to cover. In some</p>
                <p>parts of the campaign, players are able to control vehicles.</p>
            </article>
            <h2>Multiplayer</h2>
            <article class="articleDescription">
                <p>In online multiplayer matches, players are randomly assigned either to Allies or Axis side. On Allies side,
                    players can play as soldiers in</p>
                <p>American, British, or French Resistance armies. On the Axis side, players play as Germans. When explaining
                    which German Axis powers would be playable,</p>
                <p>Glen Schofield, co-founder and co-studio head at Sledgehammer, appeared to state that the Clean Wehrmacht
                    myth was the criteria they had used in their</p>
                <p>decision, saying: "The big distinction that Germans still make today is that between the German military
                    and the Nazis. We made sure we made that distinction</p>
                <p>in the game, that the Germans were doing their duty".</p>
            </article>
        </section>
    </main>
    <% include partials/foot %>