<% include partials/head %>
<main>
    <h1>The Latest in Tech Gear</h1>
    <section>
        <h2>Oculus Rift</h2>
        <img class="sectionImgGear" src="/images/oculussmall.jpg">
        <h2>About</h2>
        <article class="articleDescription">
            <p>The
                <strong>Oculus Rift</strong> is a virtual reality headset developed and manufactured by Oculus VR, a division of
                Facebook Inc., released on March 28, 2016.</p>
        </article>
        <h2>Development Kit 1</h2>
        <article class="articleDescription">
            <p>Two months after being formed as a company, Palmer's Oculus VR launched a Kickstarter crowdfunding campaign on
                August 1 of 2012 for their virtual reality headset,</p>
            <p>which was named the Rift. The main purpose of the kickstarter was to get an Oculus Rift prototype now referred
                to as DK1 (Development Kit 1) into the hands of developers</p>
            <p>to begin integration of the device into their games. DK1 was given as a reward to backers who pledged $300 or
                more on Kickstarter, and was later sold publicly for $300 on</p>
            <p>their website. These kits sold at a rate of 4 to 5 per minute for the first day, before slowing down throughout
                the week.</p>
        </article>
        <h2>Development Kit 2</h2>
        <article class="articleDescription">
            <p>Oculus began shipping Development Kit 2 (DK2) in July 2014. This is a small refinement of the "Crystal Cove"
                prototype, featuring several key improvements over the first development kit,
                <p>such as having a higher-resolution (960x1080 per eye) low-persistence OLED display, higher refresh rate,
                    positional tracking, a detachable cable, and the omission of the need for the external control box.</p>
                <p>A teardown of DK2 revealed that it incorporates a modified Samsung Galaxy Note 3 smartphone display, including
                    the front panel from the device itself.</p>
                <p>In February 2015, Oculus announced that over 100,000 DK2 units had been shipped up until that point.</p>
        </article>
    </section>
</main>
<% include partials/foot %>