<% include partials/head %>
    <div class="container-fluid h-100">
      <h1 style="padding-bottom:2em">Michael Frank's Tech Blog</h1>
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card">
            <img class="card-img-top img-fluid" src="/images/WWIIsmall.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Gaming</h4>
              <p class="card-text">Read whats new in Gaming!</p>
              <a href="gaming.html" class="btn btn-primary">View Post</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img class="card-img-top img-fluid" src="/images/Oculussmall.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Tech Gear</h4>
              <p class="card-text">Read whats new in Tech Gear!</p>
              <a href="gear.html" class="btn btn-primary">View Post</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img class="card-img-top img-fluid" src="/images/EHangsmall.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Tech of Tomorrow</h4>
              <p class="card-text">Read whats new in Tomorrows Technology!</p>
              <a href="tomorrow.html" class="btn btn-primary">View Post</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/foot %>