<% include partials/head %>
<main>
    <h1>Technology of Tomorrow</h1>
    <section>
        <h2>Ehang 184</h2>
        <img class="sectionImgTomorrow" src="/images/EHangsmall.jpg">
        <h2>About</h2>
        <article class="articleDescription">
            <p>The EHang 184 is the first version of a traditional drone UAV called EHang 184 that provides means of personal
                transportation for a single passenger weighing not more than 100 kilograms or 220 pounds.</p>
        </article>
        <h2>Safety Features</h2>
        <article class="articleDescription">
            <p>&bull; 4 of the 8 rotors can stop and the vehicle could be able to land safely</p>
            <p>&bull; The 184 AAV is embedded with Ehangen fail safe system</p>
            <p>&bull; Auto-landing in case of trouble</p>
            <p>&bull; On-Star-like command center for fliers who need help</p>
        </article>
        <h2>Pricing</h2>
        <article class="articleDescription">
            <p>According to reports, the 184 will cost between $200,000 to $300,000. Now a small but proven helicopter such
                as the Robinson R44 Raven I costs $355.000 brand new.</p>
            <p>It has a 350 mile range and can transport 3 passengers at 4000 feet. Ok, it is more expensive to operate probably,
                but the 184 must be a hell of a lot cheaper to manufacture too.</p>
            <p>So the pricing seems to be a little extreme.</p>
        </article>
    </section>
</main>
<% include partials/foot %>